<!doctype html>
<html>
  <head>
    <title>Bay Arera FLAG Companies Salon</title>
    <img src="/images/beta-testing.jpg" alt="Bay Area FLAG companies Salon">
    <script src="scripts/jquery-2.0.2.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
