<!doctype html>
<html>
  <head>
	<title>Bay Arera FLAG Companies Salon</title>
  	<img src="/images/beta-testing.jpg alt="Bay Area FLAG companies Salon"">
  </head>
  <body>
 	{{{body}}}
  </body>
</html>
