<h1>Welcome to our family<h1>
<a id="new_user_verification_link" href="http://ec2-54-165-183-198.compute-1.amazonaws.com/email_verification?token={{ token }}&email={{ email }}">Please click this link to verify your email account.</a>
