<h1>Reset your password</h1>
<a id="reset_password_link" href="http://http://ec2-54-165-183-198.compute-1.amazonaws.com/reset_password_email_verification?token={{ token }}&email={{ email }}">Please click this link to reset your password.</a>
