<h1>Welcome to the home of engineer in Bay Area!</h1>
<div id="user_login">
	<form id="user_login_form">
		<fieldset>
			<label for="user_email">Email:</label>
			<input id="user_login_email" type="text" placeholder="Enter your Email" />
			<label for="user_password">Password:</label>
			<input id="user_login_password" type="password" placeholder="Enter your Password" />
			<input id="user_login_button" type="button" value="Sign In">
			<a id="redirect_create_account_page" href="/register">Create New Account</a>
		</fieldset>
	</form>
</div>
