<h1>Please reset your password</h1>
<div id="reset_password_div">
<div id="reset_password_status_info">{{ info }}</div>
<form id="reset_password_form">
	<fieldset>
		<label>New Password:</label>
    <input id="reset_password_1" type="password" placeholder="Enter new password" />
    <label>Type New Password Again:</label>
    <input id="reset_password_2" type="password" placeholder="Enter new Password" />
   	<input id="reset_password_button" type="button" value="Reset">
	</fieldset>	
</form>
<ul hidden>
	<li id="reset_password_email">{{ email }}</li>
	<li id="reset_password_token">{{ token }}</li>
</ul>
</div>
